src/main/resources/META-INF/jsf.xsd

<xsd:schema xmlns="http://jsf.ipd.com/schema/jsf" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:jsf="http://jsf.ipd.com/schema/jsf" elementFormDefault="qualified"
            targetNamespace="http://jsf.ipd.com/schema/jsf">
    <xsd:annotation>
        <xsd:documentation><![CDATA[ Namespace support for the RPC Framework ]]></xsd:documentation>
    </xsd:annotation>
    <!-- RegistryConfig -->
    <xsd:element name="registry">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 注册中心配置，可作为一级元素 ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                <xsd:element ref="parameter" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:ID" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ Spring的BeanId ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="address" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 注册中心地址，多个用逗号分隔 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="index" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 注册中心Index服务地址 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="protocol" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 注册中心协议 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="timeout" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 调用注册中心的超时时间 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="connectTimeout" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 连接注册中心的超时时间 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="file" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 备份文件保存地址 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="register" type="xsd:string" use="optional" default="true">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 是否注册服务 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="subscribe" type="xsd:string" use="optional" default="true">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 是否订阅服务 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="batchCheck" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 定时批量检查时的条目数 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="implClass" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 自定义客户端注册中心实现类 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <!-- ServerBean -->
    <xsd:element name="server">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 服务端配置（监听端口），可作为一级元素 ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                <xsd:element ref="parameter" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:ID" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ Spring的BeanId ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="protocol" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 服务端协议 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="host" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 服务端绑定地址 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="port" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 服务端绑定端口（已绑定自动+1重试） ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="contextpath" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 发布上下文 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="threads" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 业务线程池大小 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="iothreads" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ IO线程池大小 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="threadpool" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 业务线程池类型 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="telnet" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 是否允许telnet（仅针对TCP协议） ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="queues" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 业务线程池队列大小 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="accepts" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 允许的连接数 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="payload" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 允许的数据包大小 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <!--<xsd:attribute name="buffer" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ The buffer size. ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>-->
            <xsd:attribute name="serialization" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 序列化方式 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="dispatcher" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 事件分发类型 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="virtualhost" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 虚拟IP地址（注册到注册中心的地址，可以和绑定地址不一样） ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="virtualhostfile" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 虚拟IP地址文件 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="onconnect" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 连接事件监听器实例，多个用逗号分隔 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="debug" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 是否打印请求和响应消息体信息（部分协议支持） ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="epoll" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ Linux下是否启动epoll特性 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="queuetype" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 业务线程池队列类型 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="daemon" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 是否守护线程，为false的时候将不自动退出 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <!-- AnnotationBean -->
    <xsd:element name="annotation">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 注解配置，可作为一级元素 ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:ID" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ Spring的BeanId ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="basepackage" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 要扫描注解的包前缀 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="provider" type="xsd:string" use="optional" default="true">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 是否扫描Provider标签 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="consumer" type="xsd:string" use="optional" default="true">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 是否扫描Consumer标签 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <!-- ParameterConfig -->
    <xsd:element name="parameter">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 参数配置，可作为一级二级三级元素 ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="key" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 参数配置关键字 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="value" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 参数配置值 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="hide" type="xsd:string" use="optional" default="false">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 是否为隐藏配置 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <!-- AbstractInterfaceConfig -->
    <xsd:complexType name="interfaceShared">
        <xsd:attribute name="filter" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 过滤器实现链，多个用英文逗号隔开 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="registry" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 注册中心引用 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="register" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 是否注册到注册中心 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="subscribe" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 是否从注册中心订阅 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="proxy" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 代理类生成方式 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="cacheref" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 结果缓存实现 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <!-- 以下方法可覆盖-->
        <xsd:attribute name="validation" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 是否校验参数 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="compress" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 压缩算法 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="concurrents" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 接口下每方法的最大可并行执行请求数 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="cache" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 是否启动结果缓存 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <!-- MethodConfig -->
    <xsd:complexType name="methodShared">
        <xsd:attribute name="name" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 方法名称（不支持重载方法） ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="timeout" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 方法调用超时时间 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="retries" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 方法重试次数 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="async" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 是否异步调用 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="validation" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 是否校验参数 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="onreturn" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 方法的返回事件监听器实例，多个用逗号分隔 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="concurrents" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 该方法的最大可并行执行请求数 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="cache" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 是否启动结果缓存 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="compress" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 压缩算法 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="method">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 方法级配置，可作为二级元素 ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="methodShared">
                <xsd:choice minOccurs="0" maxOccurs="unbounded">
                    <xsd:element ref="parameter" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:choice>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="nodeMethod">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 方法级配置，可作为二级元素 ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="methodShared">
                <xsd:choice minOccurs="0" maxOccurs="unbounded">
                    <xsd:element ref="parameter" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:choice>
                <xsd:attribute name="dstParam" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 目标参数（机房/分组等）索引，从0开始计数 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <!-- AbstractConsumerConfig -->
    <xsd:complexType name="consumerShared" abstract="true">
        <xsd:complexContent>
            <xsd:extension base="interfaceShared">
                <xsd:attribute name="timeout" type="xsd:string" use="optional" default="5000">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 调用超时时间 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="protocol" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 调用的协议 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="url" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 直连地址，配置了此地址就不再从注册中心获取 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="generic" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 是否泛化调用 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="async" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 是否异步调用 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="connectTimeout" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 建立连接超时时间 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="disconnectTimeout" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 断开连接（等待结果）超时时间 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="cluster" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 集群策略 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="retries" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 失败后重试次数 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="loadbalance" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 负载均衡算法 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="lazy" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 是否延迟建立长连接 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="sticky" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 是否粘滞连接 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="injvm" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 是否走injvm调用 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="check" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 是否强依赖服务端 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="serialization" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 序列化方式 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="onreturn" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 方法的返回事件监听器实例，多个用逗号分隔 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="onconnect" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 连接事件监听器实例，多个用逗号分隔 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="onavailable" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 客户端状态变化监听器实例，多个用逗号分隔 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="threadpool" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 业务线程池类型 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="threads" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 业务线程池大小 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="iothreads" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ IO线程池大小 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="heartbeat" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 客户端往服务端发心跳包间隔 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="reconnect" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 客户端重连死亡服务端的间隔 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="payload" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 允许数据包大小 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="router" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 路由规则实现类 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <!--
                <xsd:attribute name="connections" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 和服务端建立的连接数 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                -->
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="topConsumer">
        <xsd:complexContent>
            <xsd:extension base="consumerShared">
                <xsd:choice minOccurs="0" maxOccurs="unbounded">
                    <xsd:element name="method" type="jsf:method" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element ref="parameter" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:choice>
                <xsd:attribute name="id" type="xsd:ID" use="required">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ Spring的BeanId ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="interface" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 接口名称 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="alias" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 服务别名分组信息 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="nodeConsumer">
        <xsd:complexContent>
            <xsd:extension base="consumerShared">
                <xsd:choice minOccurs="0" maxOccurs="unbounded">
                    <xsd:element name="method" type="jsf:method" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element ref="parameter" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:choice>
                <xsd:attribute name="alias" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 服务别名分组信息 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <!-- ConsumerBean -->
    <xsd:element name="consumer" type="jsf:topConsumer" id="consumer">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 服务调用者配置，可作为一级二级元素 ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <!-- ConsumerGroupBean -->
    <xsd:element name="consumerGroup">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 服务调用者分组配置，可作为一级元素 ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="topConsumer">
                    <xsd:choice minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="consumer" type="jsf:nodeConsumer" minOccurs="0" maxOccurs="unbounded"/>
                        <xsd:element name="method" type="jsf:nodeMethod" minOccurs="0" maxOccurs="unbounded"/>
                        <xsd:element ref="parameter" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:choice>
                    <xsd:attribute name="groupRouter" type="xsd:string" use="optional">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[ 分组路由规则实现类 ]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="dstParam" type="xsd:string" use="optional">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[ 目标参数（机房/分组等）索引，从0开始计数 ]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="aliasAdaptive" type="xsd:string" use="optional">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[ 是否自动适配alias，即当没有alias时自动引入 ]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <!-- ProviderBean -->
    <xsd:element name="provider">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 服务提供者配置，可作为一级元素 ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="interfaceShared">
                    <xsd:choice minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="method" type="jsf:method" minOccurs="0" maxOccurs="unbounded"/>
                        <xsd:element ref="parameter" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:choice>
                    <xsd:attribute name="id" type="xsd:ID" use="required">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[ Spring的BeanId ]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="interface" type="xsd:string" use="required">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[ 接口名称 ]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="alias" type="xsd:string" use="required">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[ 服务别名分组信息 ]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="ref" type="xsd:string" use="required">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[ 接口实现类  ]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="server" type="xsd:string" use="optional">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[ 需要发布服务到的Server，多个用英文逗号隔开 ]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="timeout" type="xsd:string" use="optional">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[ 服务端执行超时时间，超过时间打印警告日志 ]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="delay" type="xsd:string" use="optional">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[ 延迟发布服务时间 ]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="weight" type="xsd:string" use="optional">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[ 服务提供者权重 ]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="include" type="xsd:string" use="optional" default="*">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[ 发布的方法列表 ]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="exclude" type="xsd:string" use="optional" default="">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[ 不发布的方法列表 ]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <!--<xsd:attribute name="whitelist" type="xsd:string" use="optional">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[ 接口白名单 ]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="blacklist" type="xsd:string" use="optional">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[ 接口黑名单 ]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>-->
                    <xsd:attribute name="dynamic" type="xsd:string" use="optional" default="true">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[ 是否动态注册Provider ]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="priority" type="xsd:string" use="optional">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[ 接口优先级，越大优先级越高，默认0 ]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <!-- FilterBean -->
    <xsd:element name="filter">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 过滤器配置，可作为一级元素 ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:ID" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ Spring的BeanId ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="class" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 指定过滤器的实现类名 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ref" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 指定过滤器的实现类 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="providers" type="xsd:string" use="optional" default="*">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 指定使用过滤器的Provider，多个用英文逗号分隔 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="consumers" type="xsd:string" use="optional" default="*">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 指定使用过滤器的Consumer，多个用英文逗号分隔 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
